.container{
margin-bottom:50px;
}
.nav-link{
margin-top: 10px;
    color: black;
}
.sign-in-btn{
    margin-top: 17px;
    border: none;
    border-radius: 20px;
    width: 80px;
    background-color:#21B573;
    color: white;
}

.bg-header{
background-color:#F0FFF0 ;
}
.logo-position{
    margin-top: 10px;
}
#color-para{
    color: #FD511A;
}
.get-btn{
    background-color:#21B573;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    
}
.heading-position{
    margin-top: 70px;
    
}
.heading-position p{
    color: #6C6B6B;
}

.cat1, .cat2, .cat3, .cat4{
    border-radius: 5px;
    margin-top: 60px;
    padding: 10px 30px;
    background-color: #F8FFFB;
}
.cat1, .cat2, .cat3, .cat4, p{
    text-align: center;
    color:#585859 ;
}
.cat1:hover{

    background-color: white ;
    box-shadow: 2px 2px 10px black;
}
.cat2:hover{

    background-color: white ;
    box-shadow: 2px 2px 10px black;
}
.cat3:hover{

    background-color: white ;
    box-shadow: 2px 2px 10px black;
}
.cat4:hover{

    background-color: white ;
    box-shadow: 2px 2px 10px black;
}

.buy-btn{
    background-color:#21B573;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    
}
.card small{
    color: #585859;
}
.card{
    margin-top: 50px;
    background-color: white;
    border: none;
    border-radius: 18px;
    box-shadow: 5px 5px 40px lightgray ;
}
.card-footer{
    background-color: white;
    border:none;
    padding-bottom: 5px;
    height:30px;
}
.card-footer img{
    width: 15px;
    height: 15px;
}
.test-img{
    padding-top: 10px;
    padding-left: 70px;
}
.test-para{
    
    padding-top: 50px;
}
.testimonial p{
    color: black;
    text-align: start;
}
